services:
  mariadb:
    build: requirements/mariadb
    env_file: .env
    secrets:
      - db_password
      - db_root_password
    volumes:
      - mariadb_data:/home/tiatan/data/db
    networks:
      - inception
  nginx:
    build: requirements/nginx
    ports:
      - "443:443"
    networks:
      - inception
    volumes:
      - ./requirements/nginx/tools/ssl/nginx.crt:/etc/ssl/certs/nginx.crt
      - ./requirements/nginx/tools/ssl/nginx.key:/etc/ssl/private/nginx.key
      - ./requirements/wordpress:/var/www/html
      - ./requirements/nginx/conf/nginx.conf:/etc/nginx/nginx.conf
  wordpress:
    build: requirements/wordpress
    networks:
      - inception

volumes:
  mariadb_data:
    driver: local

secrets:
  db_password:
    file: ../secrets/db_password.txt
  db_root_password:
    file: ../secrets/db_root_password.txt

networks:
  inception:
    driver: bridge
